body{
	background-image: url(../img/nubes.jpg);
	background-size: cover;
}
h3{
	font-size: 25px;
	text-align: center;
}
footer{
	background: rgba();
}

.perfil{
    position: absolute;
    left: 20%;
    top: 12%;
    font-family: roboto;

